.w-100p
  width: 100%

.h-100p
  height: 100%

.show-in-xs
  display: none

  @media $mediaInXS
    display: block

.text-muted
  color: #939393
  font-size: 80%

.color-brand
  color: var(--brand)

.text-brand-grad
  color: transparent !important
  background-image: var(--brand-gradient)
  background-clip: text

.cover
  background-color: #D9D9D9
  background-size: cover
  background-position: center

.transparent-scroll
  &::-webkit-scrollbar
    width: 1px

  &::-webkit-scrollbar *
    background: transparent

  &::-webkit-scrollbar-thumb
    background: rgba(255,0,0,0.001) !important
