.w-100p
  width: 100%

.h-100p
  height: 100%

.text-muted
  color: #939393
  font-size: 80%

.color-brand
  color: var(--brand)

.cover
  background-color: #D9D9D9
  background-size: cover
  background-position: center
