:root
  --ease-out-quad: cubic-bezier(0.25,0.46,0.45,0.94)

.fade-enter-active,
.fade-leave-active
  transition: opacity 0.3s ease

.fade-enter-from,
.fade-leave-to
  opacity: 0

.popover-popup-enter-active,
.popover-popup-leave-active
  transition: transform 0.2s var(--ease-out-quad), opacity 0.2s var(--ease-out-quad)
  transform-origin: top left

.popover-popup-enter-from,
.popover-popup-leave-to
  opacity: 0
  transform: scale(0.98)
