multiline-overflow($line = 2)
  display: -webkit-box
  -webkit-line-clamp: $line
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis
  white-space: normal

text-overflow()
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
