.readable
  font-size: fluid-value(15, 17)
  line-height: (28/17)
  color: black

  p
    letter-spacing: -0.01em;
    margin-top: 0
    margin-bottom: 1.4em

    & + ul
      margin-top: -0.8em

  > *:empty
    display: none

  > :first-child
    margin-top: 0

  blockquote
    position relative
    margin-left: 0;
    padding-left: 20px
    font-weight: 500
    color: inherit

    &:before
      content: ''
      position absolute
      left: 0
      height: 100%
      width: 4px
      border-radius: 8px
      background: hsla(0, 0%, 80%, 1);

  strong
    font-weight: 600

  img, iframe
    max-width: 100%;
    display: block;
    margin: 0px auto;

  h1
    font-size: 1.64em

  h2
    font-size: 1.529em

  h3
    font-size: 1.411em

  h4, h5, h6
    font-size: 1em

  h1, h2, h3, h4, h5, h6
    line-height: (32/24)
    font-weight: 600
    margin-top: 0
    margin-bottom: 24px

  a
    word-wrap: break-word
    color: black
    text-decoration: underline

    &:hover
      opacity: 0.8

  pre {
    border: 1px solid #dee0e3;
    background: #f5f6f7;
    border-radius: 5px;
    line-height: 1.75;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
  }

  pre code {
    border: none;
  }

  code {
    border: 1px solid #d1d1d1;
    background: #f5f6f7;
    color: #555;
    margin: 0px 3px;
    padding: 1px 2px;
    border-radius: 5px;
  }

  /html.dark &
    pre,
    code
      color: #EAEAEA
      background: #2C2C2C
      border-color: #333

  ul,
  ol
    padding-left: 24px
    margin-bottom: 24px

    li > p
      margin-bottom: 4px
