.readable
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  > *:empty
    display: none

  > :first-child
    margin-top: 0

  img
    max-width: 100%;
    display: block;
    margin: 0px auto;
  p {
    font-size: 16px;
    line-height: 24px;
  }

  a
    word-wrap: break-word
    color: #4681ff
    text-decoration: underline

    &:hover
      opacity: 0.8

  pre {
    border: 1px solid #dee0e3;
    background: #f5f6f7;
    border-radius: 5px;
    line-height: 1.75;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
  }

  pre code {
    border: none;
  }

  code {
    border: 1px solid #d1d1d1;
    background: #f5f6f7;
    color: #555;
    margin: 0px 3px;
    padding: 1px 2px;
    border-radius: 5px;
  }

  /html.dark &
    pre,
    code
      color: #EAEAEA
      background: #2C2C2C
      border-color: #333
