#termly-code-snippet-support
  &,
  *
    font-family: "Inter" !important

  .termly-styles-module-solid-20a66a.termly-styles-module-primary-9738f2
    background: var(--brand) !important
    border-color: var(--brand) !important

  .termly-styles-content-b79ae6
    flex-direction: column !important
    gap: 20px !important

  .termly-styles-termly-banner-caea15
    max-width: 800px !important
    left: 50% !important
    transform: translateX(-50%) !important
    margin: 0 !important
    border-radius: 16px 16px 0 0 !important

  .termly-styles-message-f8fab6 span
    font-size: 13px !important

  .termly-styles-button-dd5ebb
    border-radius: 16px !important
    font-weight: 500 !important

  .termly-styles-button-e6bc23
    border-radius: 32px !important

  .termly-styles-root-913974
    background: rgba(0,0,0,.5) !important

  .termly-styles-preferenceModal-76cbd2
    border-radius: 10px !important
