// Global variables & utils
:root
  --brand: var(--el-color-primary)
  --brand-gradient: linear-gradient(180deg, #6999FF 0%, #5438FF 100%)
  --primary: #424242
  --primary-gray: #747474
  --secondary: #fff
  --container-padding: 40px
  --divider-color: #E0E0E0

// Custom dark theme color
html.dark
  --brand-gradient: linear-gradient(180deg, #0E55EE 0%, #002A86 100%)
  --primary: #fff
  --primary-gray: #e6e6e6
  --secondary: #000

